



.gamespace{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

#message {
  min-height: 40px; 
  min-width: 25vmin; 
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(115, 247, 144);
}

.head {
  display: flex;
  justify-content: space-evenly;
  gap: 5vmin;
  align-items: center;
  margin-bottom: 5vmin;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding-left: 5px;
  padding-right: 5px;
}


  .minefield {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 0vmin;
    margin-top: -4vmin;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  }

  .minefield>div {
    border-radius: 0%;
    border: .6vmin solid grey;
    border-color: black;
    background-color: rgb(32, 32, 32);
    border-top-color: rgb(156, 156, 156);
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: rgb(156, 156, 156);
    
  }
  
  button {
    width: 2em;
    height: 2em;
    padding: 0;
  }

  h1 {
    font-size: 10vmin;       
    width: 10vmin;          
    height: 10vmin;         
  }
  